<ion-content [fullscreen]="true">
  <section  class="container">
    <div class="personal">
      <p>personal information</p>
      <hr/>
    <input type="text" placeholder="name">
    <input type="number" placeholder="age">
    <input type="text" placeholder="weight">
    <input type="text" placeholder="height">
    <input type="text" placeholder="position">
    <input type="file" placeholder="img">
  
    </div>
    <div class="details">
      <p>Details du jouer</p>
    <hr>
    <input type="text" placeholder="matches">
    <input type="number" placeholder="buts">
    <input type="text" placeholder="assists">
    </div>
    <div class="club">
      <p>club du jour</p>
    <hr>
    <input type="text" placeholder="Club Name">
    <input type="file" placeholder="img">
    </div>
  </section>
</ion-content>
