<ion-content [fullscreen]="true">
    <header>
        <app-button styles="grey" name="←" routerLink="/tabs/tab1"></app-button>
    </header>
    <main>
        <div class="container">
            <div class="info">
                <div class="player">
                    <span><img [src]="data.imageProfile" alt="" class="imgPlayer"></span>
                    <div>
                        <p class="name">{{data.name}}</p>
                        <p class="position">{{data.position}}</p>
                    </div>
                </div>
                <div>
                    <img [src]=imagurl4 alt="">
                </div>
            </div>
            <div class="card">
                <div class="details">
                    <p class="title">matches</p>
                    <p class="stat">{{data.matches}}</p>
                </div>
                <div class="details">
                    <p class="title">Height</p>
                    <p class="stat">{{data.height}}</p>
                </div>
                <div class="details">
                    <p class="title">Weight</p>
                    <p class="stat">{{data.weight}}</p>
                </div>
                <div class="details">
                    <p class="title">Goal</p>
                    <p class="stat">{{data.buts}}</p>
                </div>
                <div class="details">
                    <p class="title">Assists</p>
                    <p class="stat">{{data.assists}}</p>
                </div>
                <div class="details">
                    <p class="title">SPR</p>
                    <p class="stat">82</p>
                </div>
            </div>
        </div>
    </main>
    <section>
        <div>
            <img [src]=imagurl5 alt="">
        </div>
        <div>
            <img [src]=imagurl6 alt="">
        </div>
        <div>
            <img [src]=imagurl7 alt="">
        </div>
    </section>

</ion-content>
