.bleu{
    background-image: linear-gradient(to right, #004382, #2A73B5);
    padding: 13px 35px;
    font-size: 0.9rem;
    color: white;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 8px;

}
.grey{
    background-color: rgba(227, 227, 227, 1);
    padding: 13px 35px;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgba(143, 143, 143, 1);
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 8px;
}