.bleu, .grey {
    padding: 16px 43px;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
  }
  
  .bleu {
    background-image: linear-gradient(to right, #004382, #2A73B5);
    color: white;
    font-weight: 500;
    border: 1px solid #000000;
  }
  
  .grey {
    background-color: rgba(227, 227, 227, 1);
    color: rgba(143, 143, 143, 1);
    font-weight: 600;
    border: none;
  }